#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.redFeedingStatus {
  background-color: rgb(207, 139, 139);
}

.greenFeedingStatus {
  background-color: rgb(142, 180, 131);
}

.allAnimalsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  gap: 20px;
}

.oneAnimalWrapper, .feedingInfo {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.feedBtn {
  background-color: rgb(37, 37, 202);
  color: white;
}

.feedBtn:disabled {
  background-color: rgb(184, 184, 184);
  color: white;
  border: none;
}

.pageTitle {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(22, 22, 194);
  font-size: 5rem;
}

.animalInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goBackBtn {
  background-color: rgb(27, 44, 199);
  color: white;
  margin: 15px;
}

img {
  border-radius: 10px;
  border: 3px solid gray;
}